{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid hero-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="site-header text-center">
                        gate fittings direct
                    </h2>
                </div>
                <div class="col-12">
                    <h1 class="hero-text text-center blue-highlight">
                        your one stop shop for gate fittings
                    </h1>
                </div>
                <div class="col-12">
                    <h3 class="site-motto-text">
                        Specialising in gate fittings, fasteners and other accessories
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}