{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="hero-banner">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 offset-lg-3 text-center">
                    <div class="hero-banner-content">
                        <h3 class="text-black text-uppercase">Gate fittings direct</h3>
                        <h2 class="text-blue text-uppercase">Your one stop shop for gate fittings</h2>
                        <p class="text-black">Specialising in gate fittings, fasteners and other accessories</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="overlapping-products">
        <div class="container">
            <div class="row">
                <div class="card-deck text-uppercase popular-items-cards">
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">Black throw over loop with handle - 14 inch</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">Adjustable galvinised hinge - 18 inch</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">Double leg gate striker</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">RSJ Gate hanger</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                </div>
                <div class="card-deck text-uppercase popular-items-cards">
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">Black throw over loop with handle - 14 inch</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">Adjustable galvinised hinge - 18 inch</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">Double leg gate striker</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="#" class="card-image-top grey-bg">
                        <div class="card-body">
                            <h5 class="card-title">RSJ Gate hanger</h5>
                            <h6 class="card-text"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="distributor-for-brands grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">High quality products from well known and trusted suppliers</h3>
                </div>
            </div>
        </div>
        <div class="small-container">
            <div id="brand-logos" class="row">
                <div class="col-4">
                    <img src="../../../media/birkdale.jpg" alt="Birkdale">
                </div>
                <div class="col-4">
                    <img src="../../../media/blog-no-thumbnail.jpg" alt="Perry trade">
                </div>
                <div class="col-4">
                    <img src="../../../media/eliza.jpg" alt="Eliza Tinsley">
                </div>
                <div class="col-4">
                    <img src="../../../media/patura.jpg" alt="Patura">
                </div>
                <div class="col-4">
                    <img src="../../../media/zedlock.jpg" alt="Zedlock">
                </div>
                <div class="col-4">
                    <img src="../../../media/sitemate.jpg" alt="Sitemate">
                </div>
            </div>
        </div>
    </section>

    <section id="category-cards">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="cat-card-container">
                        <img src="../../../media/fastener_Cat.jpg" alt="Fasteners and tools">
                        <div class="text-cat-overlay text-white text-uppercase category-text">Fasteners <br> & Tools</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cat-card-container">
                        <img src="../../../media/lock_cat.jpg" alt="Locks and latches">
                        <div class="text-cat-overlay text-white text-uppercase category-text">Locks & <br> Latches</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cat-card-container">
                        <img src="../../../media/hinge_cat.jpg" alt="Gate fittings">
                        <div class="text-cat-overlay text-white text-uppercase category-text">Gate <br> Fittings</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}