html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: calc(100vh - 180px);
    font-family: industry, sans-serif;
}

.blue-bg {
    background-color: #288FBD;
}

.grey-bg {
    background-color: #373737;
}

.white-bg {
    background-color: white;
}

.text-blue {
    color: #288FBD;
}

/* Navbar */

.top-nav .container {
    height: 80px;
}

.bottom-nav .container {
    height: 60px;
}

.navbar-link-list {
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav .container {
    padding: 0;
}

ul {
    margin: 0;
}

.bottom-nav {
    margin-top: 80px;
}

.navbar {
    padding: 0;
}

.nav-icon {
    font-size: 2rem;
}

.search {
    width: 60%;
    position: relative;
    display: flex;
}

.searchSite {
    width: 60%;
    border: 3px solid #373737;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 3px 0 0 3px;
    outline: none;
    color: #494949;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #373737;
    background: #373737;
    text-align: center;
    color: #ffffff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Hero Section */

.hero-banner {
    background-color: #C8C8C8;
    min-height: 630px;
    display: flex;
    justify-content: center;
    padding-top: 92px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.hero-banner h3 {
    font-size: 1.3rem;
}

.hero-banner h2 {
    font-size: 4.5rem;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 2px 3px #616161;
}

.hero-banner p {
    font-size: 1rem;
}

/* Popular Products */

.overlapping-products {
    position: relative;
    top: -110px;
}

.popular-items-cards .card img {
    height: 200px;
    margin: 1rem;
}

.popular-items-cards .card .card-body {
    padding: 0 1rem 1rem 1rem;
}

.popular-items-cards .card .card-body .card-title {
    font-size: 1rem;
    margin: 0;
}

.popular-items-cards {
    margin-bottom: 2rem;
}

/* Distributor Brands */

.distributor-for-brands {
    padding: 80px 0 80px 0;
}

.small-container {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.distributor-for-brands h3 {
    font-size: 2.2rem;
}

#brand-logos div {
    height: 140px;
    margin: 30px 0 0 0;
}

#brand-logos div img {
    width: 100%;
    height: 100%;
}

/* Category Cards */

.cat-card-container {
    background-color: black;
    height: 620px;
}

.cat-card-container img {
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.category-text {
    position: absolute;
    bottom: 0px;
    left: 40px;
    font-size: 3rem;
    font-weight: 600;
}

#category-cards {
    margin: 160px 0 160px 0;
}

/* Customer Quote Section */    

.cust-quote-sect {
    padding: 80px 0 80px 0;
}

.cust-quote-sect h4 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.shop-btn {
    margin-top: 20px;
    background-color: #288FBD;
    color: #373737;
    border-radius: 0;
    font-weight: 600;
}

.shop-btn i {
    margin-left: 10px;
}

.quote-container {
    padding: 30px;
    color: #373737;
    height: 220px;
    display: flex;
    align-items: center;
}

.quote-container h5 {
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
}

.quote-start-pos {
    position: absolute;
    top: -28px;
    left: -5px;
}

.quote-container i {
    font-size: 2.5rem;
}

.quote-end-pos {
    position: absolute;
    bottom: -28px;
    right: -6px;
}
